@model SwarajCustomer_Common.ViewModel.M_ManageUserDetails
@using SwarajCustomer_Common;

@{
    ViewBag.Title = "Edit";
    ViewBag.Menu = "Index";
    ViewBag.SubMenu = "Edit";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    var Server_Url = CommonMethods.BaseUrl;

}
<div class="col-sm-9 rightbox">
    <div class="fullwidth top">
        <div class="fulltextwidth">
            <input type="hidden" value="@Model.adm_user_id" name="adm_user_id" />
            <input type="hidden" value="@Model.user_details_id" name="user_details_id" />

            <input type="hidden" value="@Model.is_active" id="hddIsActive" />
            <input type="hidden" value="@Model.export_in_pooja" id="hddExpotInPooja" />
            <input type="hidden" value="@Model.ready_for_travel" id="hddReadyForTravel" />
            <input type="hidden" value="@Model.marital_status" id="hddMaritalStatus" />
            <input type="hidden" value="@Model.health_status" id="hddHealthStatus" />
            <input type="hidden" value="@Model.DOB" id="hddDOB" />
            <input type="hidden" value="@Model.TOB" id="hddTOB" />
            <input type="hidden" value="@Model.PlaceOfBirth" id="hddPlaceOfBirth" />
            <input type="hidden" value="@Model.gender" id="hddGender" />
            <input type="hidden" value="@Model.adm_user_id" id="hddadm_user_id" />

            <div class="form-horizontal">
                <h1 class="col-sm-12 headingbox" style="position: relative; top: 0;"> Edit Profile</h1>



                <div class="form-group">
                    <div class="col-sm-4 searchbox leftimage">
                        <label>Upload File</label>
                        <div class="col-sm-12 upload-image-container pull-right rightbuttons innercolor" style="    padding: 0;">
                            <div class="file-upload">
                                <input type="file" name="file-6[]" id="upload-image" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple="">
                                <label for="upload-image">
                                    <span class="user-image">
                                        <img alt="select file" title="select file" id="ImageThumbnail" style="width:100%;height:10%" />
                                    </span>
                                    <br>
                                    <span class="note"><b>Note</b> : Image size should be 30kB to 5MB.</span>
                                    <span id="spnImage">Add Image </span>

                                </label>
                                <span id="spnImageName" style="color:red"></span>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">User Name</label>
                    <div class="col-md-5">
                        <input value="@Model.username" type="text" class="form-control alphaOnly" name="username" id="txtusername" maxlength="50" />
                        <span class="text-danger" id="spnusername"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Mobile Number</label>
                    <div class="col-md-5">
                        <input value="@Model.mob_number" type="text" class="form-control alphaOnly" name="mob_number" id="txtmob_number" maxlength="10" readonly />
                        <span class="text-danger" id="spnmob_number"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Email</label>
                    <div class="col-md-5">
                        <input value="@Model.email" type="text" class="form-control" name="email" id="txtemail" maxlength="50" readonly />
                        <span class="text-danger" id="spnemail"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Description</label>
                    <div class="col-md-5">
                        <input value="@Model.description" type="text" class="form-control" name="description" id="txtdescription" maxlength="50" />
                        <span class="text-danger" id="spndescription"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Status</label>
                    <div class="col-md-5">
                        <label class="fontnormal">
                            <input type="radio" name="is_active" id="active" value="Y">
                            Active
                        </label>
                        <label class="fontnormal">
                            <input type="radio" name="is_active" id="Inactive" value="N">
                            Inactive
                        </label>

                        <span class="text-danger" id="spmis_active"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">First Name</label>
                    <div class="col-md-5">
                        <input value="@Model.first_name" type="text" class="form-control" name="first_name" id="txtfirst_name" maxlength="50" />
                        <span class="text-danger" id="spnfirst_name"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Last Name</label>
                    <div class="col-md-5">
                        <input value="@Model.last_name" type="text" class="form-control" name="last_name" id="txtlast_name" maxlength="50" />
                        <span class="text-danger" id="spnlast_name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> Whatsapp No.</label>
                    <div class="col-md-5">
                        <input value="@Model.whatsapp_no" type="text" class="form-control numberOnly" name="whatsapp_no" id="txtwhatsapp_no" maxlength="10" />
                        <span class="text-danger" id="spnwhatsapp_no"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> Address </label>
                    <div class="col-md-5">
                        <input value="@Model.address" type="text" class="form-control alphaOnly" name="address" id="txtaddress" maxlength="50" />
                        <span class="text-danger" id="spnaddress"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> City </label>
                    <div class="col-md-5">
                        <input value="@Model.city" type="text" class="form-control alphaOnly" name="city" id="txtcity" maxlength="50" />
                        <span class="text-danger" id="spncity"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> State </label>
                    <div class="col-md-5">
                        <select class="form-control selectoption" id="ddState" name="mst_state_id"></select>
                        <span class="text-danger" id="spnState"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> District </label>
                    <div class="col-md-5">
                        <select class="form-control selectoption" id="ddDistrict" name="mst_district_id"></select>
                        <span class="text-danger" id="spnDistrict"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> Pin Code </label>
                    <div class="col-md-5">
                        <input value="@Model.pincode" type="text" class="form-control numberOnly" name="pincode" id="txtpincode" maxlength="8" />
                        <span class="text-danger" id="spnpincode"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Land Mark</label>
                    <div class="col-md-5">
                        <input value="@Model.landmark" type="text" class="form-control alphaNumericOnly" name="landmark" id="txtlandmark" maxlength="50" />
                        <span class="text-danger" id="spnlandmark"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> Gender </label>
                    <div class="col-md-5">
                        <label class="fontnormal">
                            <input type="radio" name="gender" id="Yes" value="M">
                            Male
                        </label>
                        <label class="fontnormal">
                            <input type="radio" name="gender" id="No" value="F">
                            Female
                        </label>
                        <span class="text-danger" id="spngender"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> Marital Status </label>
                    <div class="col-md-5">
                        <label class="fontnormal">
                            <input type="radio" name="marital_status" id="Yes" value="Married">
                            Married
                        </label>
                        <label class="fontnormal">
                            <input type="radio" name="marital_status" id="No" value="UnMarried">
                            Unmarried
                        </label>
                        <span class="text-danger" id="spnmarital_status"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> Date of Birth</label>
                    <div class="col-md-5">
                        <div class="input-group date" id="datetimepicker2">
                            <input type="text" class="form-control date-picker-textbox hasDatepicker" name="DOB" id="DateOfBirth" placeholder="Date of Birth" readonly />
                            <img src="~/Content/images//caleder.png" style="height:15px;width:15px">
                        </div>
                        <span class="text-danger" id="spnDateOfBirth"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2"> Birth Time</label>
                    <div class="col-md-5">
                        <div class="input-group date" id="datetimepicker2">
                            <input type="text" class="form-control date-picker-textbox hasDatepicker" id="BirthTime" name="TOB" placeholder="Birth Time" readonly />
                            <img src="~/Content/images//caleder.png" style="height:15px;width:15px">
                        </div>
                        <span class="text-danger" id="spnBirthTime"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2"> Place Of Birth</label>
                    <div class="col-md-5">
                        <input value="@Model.PlaceOfBirth" type="text" class="form-control alphaOnly" name="PlaceOfBirth" id="txtPlaceOfBirth" maxlength="50" />
                        <span class="text-danger" id="spnPlaceOfBirth"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Adhar Card Number</label>
                    <div class="col-md-5">
                        <input value="@Model.aadhar_number_name" type="text" class="form-control numberOnly" name="aadhar_number_name" id="txtaadhar_number_name" maxlength="16" />
                        <span class="text-danger" id="spnaadhar_number_name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Profession</label>
                    <div class="col-md-5">
                        <input value="@Model.profession" type="text" class="form-control alphaOnly" name="profession" id="txtprofession" maxlength="50" />
                        <span class="text-danger" id="spnprofession"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Health Status</label>
                    <div class="col-md-5">
                        <label class="fontnormal">
                            <input type="radio" name="health_status" id="Yes" value="1">
                            Good
                        </label>
                        <label class="fontnormal">
                            <input type="radio" name="health_status" id="No" value="0">
                            Not Well
                        </label>
                        <span class="text-danger" id="spnhealth_status"></span>
                    </div>
                </div>
                <div class="buttonsenterbox margintops">
                    <button class="btn btn-success yes" id="btn_save" onclick="return Update()">Submit</button>
                    <button class="btn btn-danger No" onclick="return ReturnToIndex();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .date img {
        position: absolute;
        right: 7px;
        z-index: 99;
        top: 10px;
    }
</style>
<script src="~/Scripts/function.js"></script>
<script src="~/Areas/Customer/Scripts/update_myprofile.js"></script>

<script type="text/javascript">

    var $_IndexUrl = '@Url.Action("Index", "MyProfile", new { Area = "Customer" })';
    var $_UpdateUrl = '@Url.Action("Edit", "MyProfile", new { Area = "Customer" })';

    AlphaOnly('.alphaOnly');
    NumberOnly('.numberOnly');
    AlphaNumericOnly('.alphaNumericOnly');

    var $_mst_state_id =    '@Model.mst_state_id';
    var $_mst_district_id = '@Model.mst_district_id';
    var $_ImageName= '@Model.ImageName';

    var current_page = 0;
    $(document).ready(function () { GetProfile(); });




</script>



