@using SwarajCustomer_Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Server_Url = CommonMethods.BaseUrl;
}
<div class="col-sm-9 rightbox">
    <div class="fullwidth top">
        <div class="topheader">
            <div class="col-sm-8 headingbox">Manage Advertisments</div>
            <div class="col-sm-4 rightitems">
                <a class="creatbtn" style="cursor:pointer" onclick="AddEditAds(0)">
                    <span>Add</span>
                    <!--data-toggle="modal" data-target="#logoutModal2 -->
                </a>
                <a class="excels export btn" data-toggle="modal" data-target="#logoutModal1" style="cursor:pointer" onclick="ClearFields()">
                    <span>Add Independent Ads</span>
                </a>
            </div>
        </div>

        <div class="barwidths" id="adminDashboardLeads">
            <div class="searchfilter">
                <div class="datefilter"></div>
                <div class="col-sm-5 searchbox labelradio" style="width:auto;position:relative;top:6px;">
                    <label><input style="cursor:pointer" type="radio" name="Type" value="L" id="chkL">  Local-Ads </label>
                    <label><input style="cursor:pointer" type="radio" name="Type" value="E" id="ckkE">  E Puja-Ads</label>
                    <label><input style="cursor:pointer" type="radio" name="Type" value="I" id="ckkI">  Independent Ads</label>
                </div>
                <div class="col-sm-3 searchbox newlabel">
                    <span>Search :</span>
                    <input type="text" class="form-control formtext" id="txt_search" placeholder="Search By Name" />
                </div>
                <div class="col-sm-3 searchbox">
                    <label>State </label>
                    <select class="form-control selectoption" id="ddState" name="ddState"></select>
                </div>
                <div class="col-sm-3 searchbox districtbox">
                    <label>District </label>
                    <select class="form-control selectoption" id="ddDistrict" name="ddDistrict"></select>
                </div>
                <div class="searchresult">
                    <button id="anc_search" class="btn btn-success yes">Search</button>
                    <button id="reset" class="btn btn-danger No">Reset</button>
                </div>
                <section class="counts" style="width: 100%; display: inline-block;float: right;">
                    <div class="searchbuton">
                        <input type="button" class="btn btn-success" id="Activate" value="Activate " onclick="Activate('Y')" />
                        <input type="button" class="btn btn-danger No ResetAction" id="Deactivate" value="Deactivate" onclick="Deactivate('N')" />
                    </div>
                    <div class="pull-right countsboxs" style="width: auto; float: right !important;position: relative; top: 0;left: 7px;">
                        <div style="display:inline-block;margin-right:5px;">
                            <span>Show</span>
                            <select class='form-control selectoption' id='NoofRecords' name='NoofRecords'>
                                <option value='10'>10</option>
                                <option value='20'>20</option>
                                <option value='30'>30</option>
                                <option value='50'>50</option>
                                <option value='100'>100</option>
                                <option value='150'>150</option>
                                <option value='200'>200</option>
                                <option value='250'>250</option>
                                <option value='300'>300</option>
                                <option value='350'>350</option>
                                <option value='400'>400</option>
                                <option value='500'>500</option>
                            </select>
                            <span>Records</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="table-container" id="divGrid">
            </div>
            <div class="table-container" id="divNoData">
            </div>
        </div>
    </div>

    <div id="logoutModal1" class="modal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="Independentadstitle"></span></h4>
                    <button type="button" id="closechassismodel" class="close" data-dismiss="modal" data-name="" onclick="ClearFields()"><img src="~/Content/images/croxxicon.png"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hddId" />
                    <input type="hidden" id="hddMRP" />
                    <div class="centerdiv">
                        <div class="col-sm-4 searchbox">
                            <label>Title</label>
                            <input type="text" class="form-control alphaNumericOnly" id="txttitle_Independent" />
                            <span style="color:red" class="validation" id="spntitle_Independent"></span>
                        </div>
                        <div class="col-sm-4 searchbox">
                            <label>MRP  </label>
                            <input type="text" class="form-control decimalOnly" id="txtMRP_Independent" />
                            <span style="color:red" class="validation" id="spnMRP_Independent"></span>
                        </div>
                        <div class="col-sm-4 searchbox">
                            <label>Discount Type</label>
                            <select class="form-control selectoption" id="ddDiscountType" name="DiscountType">
                                <option value="percentage">Percentage</option>
                                <option value="amount">amount</option>
                            </select>
                        </div>
                    </div>
                    <div class="centerdiv">
                        <div class="col-sm-4 searchbox p ">
                            <label>Discount  </label>
                            <input type="text" class="form-control decimalOnly" id="txtDiscount_Independent" />
                            <span style="color:red" class="validation" id="spnDiscount_Independent"></span>
                        </div>
                        <div class="col-sm-4 searchbox a">
                            <label>Discount In Rupees  </label>
                            <input type="text" class="form-control numberOnly" id="txtDiscountInRupees_Independent" />
                            <span style="color:red" class="validation" id="spnDiscountInRupees_Independent"></span>
                        </div>
                        <div class="col-sm-8 searchbox">
                            <label>Description  </label>
                            <input type="text" class="form-control" id="txtDescription_Independent" />
                            <span style="color:red" class="validation" id="spnDescription_Independent"></span>
                        </div>
                        <div class="fulwdidthss">
                            <div class="col-sm-6 searchbox">
                                <label>Upload File</label>
                                <div class="col-sm-12 upload-image-container pull-right rightbuttons innercolor" style="    padding: 0;">
                                    <div class="file-upload">
                                        <input type="file" name="file-6[]" id="upload-image1" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple="">
                                        <label for="upload-image1">
                                            <span class="user-image">
                                                <img alt="select file" title="select file" id="ImageThumbnail1" />
                                            </span>
                                            <br>
                                            <span class="note"><b>Note</b> : Image size should be 30kB to 5MB.</span>
                                            <span id="spnImage">Add Image </span>
                                        </label>
                                        <span id="spnImageName1" class="validation" style="color:red"></span>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="col-sm-6 searchbox">
                                <label>Upload File</label>
                                <div class="col-sm-12 upload-image-container pull-right rightbuttons innercolor" style="    padding: 0;">
                                    <div class="file-upload">
                                        <input type="file" name="file-6[]" id="upload-image2" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple="">
                                        <label for="upload-image2">
                                            <span class="user-image">
                                                <video alt="select file" title="select file" id="ImageThumbnail2" controls />
                                            </span>
                                            <br>
                                            <span class="note"><b>Note</b> : vedio size should be 30kB to 5MB.</span>
                                            <span id="spnImage">Add vedio </span>
                                        </label>
                                        <span id="spnImageName2" class="validation" style="color:red"></span>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="buttonsenterbox margintops">
                        <button class="btn btn-success yes" id="btn_save" onclick="SaveUpdateIndependentads()">Submit</button>
                        <button class="btn btn-danger No" data-dismiss="modal" id="btnlogoutno" onclick="ClearFields()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="logoutModal2" class="modal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="title"></span></h4>
                    <button type="button" id="closechassismodel" class="close" data-dismiss="modal" data-name="" onclick="ClearFields()"><img src="~/Content/images/croxxicon.png"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hddId" />
                    <input type="hidden" id="hddMRP" />
                    <div class="centerdiv">
                        <div class="col-sm-4 searchbox">
                            <label>Catagory</label>
                            <select class="form-control selectoption" id="AddCatagory" name="Catagory"></select>
                            <span style="color:red" class="validation" id="spnActivate"></span>
                        </div>
                        <div class="col-sm-4 searchbox">
                            <label>Sub Catagory</label>
                            <select class="form-control selectoption" id="SubCatagory" name="SubCatagory"></select>
                            <span style="color:red" class="validation" id="spnSubCatagory"></span>
                        </div>
                        <div class="col-sm-2 searchbox">
                            <label>MRP  </label>
                            <span id="spnMRP"></span>

                        </div>
                        <div class="col-sm-2 searchbox">
                            <label>Duration  </label>
                            <span id="spnduration"></span>
                        </div>
                    </div>
                    <div class="centerdiv">
                        <div class="col-sm-4 searchbox">
                            <label>Discount Type</label>
                            <select class="form-control selectoption" id="DiscountType" name="DiscountType">
                                <option value="percentage">Percentage</option>
                                <option value="amount">amount</option>
                            </select>
                        </div>
                        <div class="col-sm-4 searchbox percentage ">
                            <label>Discount  </label>
                            <input type="text" class="form-control decimalOnly" id="txtDiscount" />
                            <span style="color:red" class="validation" id="spnDiscount"></span>
                        </div>
                        <div class="col-sm-4 searchbox amount">
                            <label>Discount In Rupees  </label>
                            <input type="text" class="form-control numberOnly" id="txtDiscountInRupees" />
                            <span style="color:red" class="validation" id="spnDiscountInRupees"></span>
                        </div>

                        <div class="col-sm-4 searchbox">
                            <label>Description  </label>
                            <textarea id="txtDescription" name="message" rows="4" cols="50" class="form-control selectoption" style="resize: none">
                                </textarea>
                            <br />
                            <span style="color:red" class="validation" id="spnDescription"></span>
                        </div>
                        <div class="col-sm-4 searchbox">
                            <label>Upload File</label>
                            <div class="col-sm-12 upload-image-container pull-right rightbuttons innercolor" style="    padding: 0;">
                                <div class="file-upload">
                                    <input type="file" name="file-6[]" id="upload-image" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple="">
                                    <label for="upload-image">
                                        <span class="user-image">
                                            <img alt="select file" title="select file" id="ImageThumbnail" style="width:100%;height:10%" />
                                        </span>
                                        <br>
                                        <span class="note"><b>Note</b> : Image size should be 30kB to 5MB.</span>
                                        <span id="spnImage">Add Image </span>

                                    </label>
                                    <span id="spnImageName" style="color:red"></span>
                                </div>
                            </div>
                            <br />
                        </div>

                        <div class="col-sm-4 searchbox radiolbox">
                            <label>Type</label>
                            <label class="fontnormal"><input type="radio" name="Status" id="Yes" value="L" checked>Local Ads </label>
                            <label class="fontnormal"><input type="radio" name="Status" id="No" value="E">E-Puja Ads </label>
                        </div>
                        <div class="col-sm-4 searchbox radiolbox divIsGlobal">
                            <label>Is Global </label>
                            <label class="fontnormal"><input type="radio" name="IsGlobal" id="Yes" value="Y">Yes</label>
                            <label class="fontnormal"><input type="radio" name="IsGlobal" id="No" value="N" checked>No</label>
                        </div>
                    </div>

                    <div class="centerdiv divEPuja">
                        <div class="col-sm-12 searchbox ">
                            <div class="col-sm-4 searchbox ">
                                <label>Booking Date  </label>
                                <div class="input-group date" id="datetimepicker2">
                                    <input type="text" class="form-control date-picker-textbox hasDatepicker" id="startdate_id" placeholder="startdate" readonly />
                                    <img src="~/Content/images//caleder.png" style="height:15px;width:15px">
                                </div>
                            </div>
                            <div class="col-sm-4 searchbox">
                                <label>Time Slot  </label>
                                <select class="form-control selectoption" id="AddTimeSlot" name="TimeSlot"></select>
                                <span style="color:red" class="validation" id="spnTimeSlot"></span>
                            </div>
                            <div class="col-sm-4 searchbox">
                                <label>Url </label>
                                <input type="url" class="form-control" name="url" id="txturl" placeholder="https://example.com" pattern="https://.*" size="30">
                                <span style="color:red" class="validation" id="spnUrl"></span>
                            </div>
                        </div>

                    </div>
                    <div class="centerdiv divStateCity">
                        <div class="col-sm-12 searchbox " style="padding: 0 10px;">
                            <div class="col-sm-6 searchbox">
                                <label>State </label>
                                <select class="form-control selectoption" id="AddState" name="State"></select>
                                <span style="color:red" class="validation" id="spnState"></span>
                            </div>
                            <div class="col-sm-6 searchbox">
                                <label>District </label>
                                <select class="form-control selectoption" id="MultipleDistrict" multiple="multiple"></select>
                                <br />  <br />
                                <button class="k-button" id="select">Select All</button>
                                <button class="k-button" id="deselect">Deselect All</button>
                                <span style="color:red" class="validation" id="spnDistrict"></span>
                            </div>
                        </div>
                    </div>

                    <div class="buttonsenterbox margintops">
                        <button class="btn btn-success yes" id="btn_save" onclick="SaveUpdate()">Submit</button>
                        <button class="btn btn-danger No" data-dismiss="modal" id="btnlogoutno" onclick="ClearFields()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/function.js"></script>
<script src="~/Areas/Scripts/advertising.js"></script>
@*https://docs.telerik.com/kendo-ui/controls/editors/multiselect/how-to/selection/select-deselect-all-items
 https://elements.envato.com/*@
<script type="text/javascript">

    AlphaNumericOnly('.alphaNumericOnly');
    NumberOnly('.numberOnly');
    DecimalOnly('.decimalOnly');
    var $_AddEditAdsUrl = '@Url.Action("AddEditAds", "Advertising", new { Area = "Advertising" })';
    var $_GeAdvertisementUrl = '@Url.Action("GetAdvertisementGridView", "Advertising", new { Area = "Advertising" })';
    var $_ActivateDeactivate = '@Url.Action("ActivateDeactivate", "Advertising", new { Area = "Advertising" })';
    var $_Delete = '@Url.Action("Delete", "Advertising", new { Area = "Advertising" })';
    var $_GetMasterCategorys = '@Url.Action("GetMasterCategorys", "Advertising", new { Area = "Advertising" })';
    var $_GetCategorysUrl = '@Url.Action("GetCategorys", "Advertising", new { Area = "Advertising" })';
    var $_GetTimeSlotUrl = '@Url.Action("GetTimeSlot", "Advertising", new { Area = "Advertising" })';
    var $_GetSaveUpdateUrl = '@Url.Action("SaveUpdate", "Advertising", new { Area = "Advertising" })';
    var $_SaveUpdateIndependentadsUrl = '@Url.Action("SaveUpdateIndependentads", "Advertising", new { Area = "Advertising" })';
    var $_GetUrl = '@Url.Action("Get", "Advertising", new { Area = "Advertising" })';
    var $_GetEditUrl = '@Url.Action("Edit", "Masters", new { Area = "Masters" })'


    var current_page = 0;
    $(document).ready(function () {

        $("#select").addClass("hide");
        $("#deselect").addClass("hide");
        // create MultiSelect from select HTML element
        var required = $("#MultipleDistrict").kendoMultiSelect({
            dataTextField: "Name",
            dataValueField: "Id",
            autoClose: true,
            placeholder: "Select District",
            includeSelectAllOption: true
        }).data("kendoMultiSelect");

        $("#select").click(function () {
            debugger;
            var dataSource = required.dataSource.options.data;
            var values = $.map(dataSource, function (dataItem) {
                return dataItem.Id;
            });
            required.value(values);
        });

        $("#deselect").click(function () {
            required.value([]);
        });

//-----********************************************************************************************************************-----//
        $(".divEPuja").addClass("hide");
        $(".divStateCity").removeClass("hide");
        $('input[type=radio][name=Type][id=chkL]').prop("checked", true);


        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var currDate = d.getDate();
        var startDate = new Date(currYear, currMonth , currDate + 1);
        var endDate = new Date(currYear, currMonth + 1, currDate);


        $("#startdate_id").datetimepicker({
            format: "DD-MM-YYYY",
            pickTime: false,
            autoclose: true,
            defaultDate: startDate,
            maxDate: endDate,//moment(),
            minDate: startDate

        });


        GetState(0);
        GetTimeSlot();
        GeAdvertisement();
        GetCategorys(0);
       //Add Edit popop state
        AddState(0);
    });



    $(document).on("change", "#NoofRecords", function () {
        GeAdvertisement();
    });
    $("#anc_search").click(function () {
        GeAdvertisement();
    });
    $("#reset").click(function () {
        window.location.reload();
    });

</script>
<style>
    div#logoutModal2 .modal-dialog {
        width: 52%;
        top: 50%;
    }

    a.excels.export.btn {
        background: #000;
        color: #fff;
    }

    .col-sm-4.searchbox {
        max-width: 100%;
        float: left;
        padding-right: 0;
    }

    span.user-image {
        margin-top: 10px;
        float: left;
        width: 100%;
        text-align: center;
    }

        span.user-image img, span.user-image video {
            max-height: 180px;
            overflow: hidden;
        }

    #logoutModal1 .file-upload label {
        margin: 0 !important;
    }

    #logoutModal2 label.fontnormal {
        width: auto;
        font-size: 14px;
        font-weight: normal;
        margin-right: 10px;
    }

        #logoutModal2 label.fontnormal input {
            margin-right: 7px;
        }

    div#logoutModal2 .centerdiv.divStateCity .col-sm-6.searchbox label {
        width: 100% !important;
        float: left !important;
        margin: 0 0 5px 0 !important;
    }

    .headingbox {
        top: 5px;
    }

    div#adminDashboardLeads {
        margin-top: 20px;
        margin-bottom: 0;
    }

    #logoutModal2 label {
        text-align: left;
        float: left;
        width: 100%;
    }

    #spnMRP, #spnduration {
        float: left;
        color: #ccc;
    }

    #spnMRP, #spnduration {
        float: left;
        color: #ccc;
    }

    .centerdiv.divStateCity .col-sm-4.searchbox:nth-child(1), .centerdiv.divEPuja .col-sm-4.searchbox:nth-child(1) {
        padding-left: 0;
    }

    div#logoutModal2 .col-sm-6.searchbox label.fontnormal {
        font-weight: normal;
        top: -1px;
        position: relative;
    }

    div#logoutModal2 div#datetimepicker2 img {
        position: absolute;
        right: 5px;
        z-index: 999;
        top: 9px;
    }

    div#logoutModal2 .col-sm-6.searchbox label {
        width: auto !important;
        margin: 0 9px 0;
    }

    body.menuToggle #logoutModal2 .col-sm-4.searchbox {
        max-width: 100%;
    }

    div#logoutModal2 .col-sm-6.searchbox {
        margin-top: 0px;
        float: left;
        padding: 0 8px;
        margin-bottom: 20px;
    }

        div#logoutModal2 .col-sm-6.searchbox input {
            margin-right: 5px;
            position: relative;
            top: 1px;
        }

    body.menuToggle #logoutModal2 .col-sm-4.searchbox div#datetimepicker2 {
        width: 100%;
    }

        body.menuToggle #logoutModal2 .col-sm-4.searchbox div#datetimepicker2 input#startdate_id {
            border-radius: 5px;
        }

    .col-sm-3.searchbox.districtbox, .searchresult {
        margin-top: 10px;
    }

    .searchresult {
    }

    .col-sm-3.searchbox.districtbox select#ddDistrict {
        width: 77%;
    }
</style>

<style>
    div#logoutModal1 .modal-dialog {
        width: 52%;
        top: 50%;
    }

    .col-sm-4.searchbox {
        max-width: 100%;
        float: left;
        padding-right: 0;
    }

    #logoutModal1 label.fontnormal {
        width: auto;
        font-size: 14px;
        font-weight: normal;
        margin-right: 10px;
    }

        #logoutModal1 label.fontnormal input {
            margin-right: 7px;
        }

    div#logoutModal1 .centerdiv.divStateCity .col-sm-6.searchbox label {
        width: 100% !important;
        float: left !important;
        margin: 0 0 5px 0 !important;
    }



    #logoutModal1 label {
        text-align: left;
        float: left;
        width: 100%;
    }



    .centerdiv.divStateCity .col-sm-4.searchbox:nth-child(1), .centerdiv.divEPuja .col-sm-4.searchbox:nth-child(1) {
        padding-left: 0;
    }

    div#logoutModal1 .col-sm-6.searchbox label.fontnormal {
        font-weight: normal;
        top: -1px;
        position: relative;
    }

    div#logoutModal1 div#datetimepicker2 img {
        position: absolute;
        right: 5px;
        z-index: 999;
        top: 9px;
    }

    div#logoutModal1 .col-sm-6.searchbox label {
        width: auto !important;
        margin: 0 9px 0;
    }

    body.menuToggle #logoutModal1 .col-sm-4.searchbox {
        max-width: 100%;
    }

    label.relative {
        position: absolute;
        left: 0;
        bottom: -34px;
        line-height: 14px;
    }

    #logoutModal1 .col-sm-4.searchbox {
        margin-bottom: 20px;
    }

    #logoutModal1 .file-upload {
        padding: 6px 10px;
    }

    div#logoutModal1 .col-sm-6.searchbox {
        margin-top: 0px;
        float: left;
        padding: 0 8px;
        margin-bottom: 20px;
    }

        div#logoutModal1 .col-sm-6.searchbox input {
            margin-right: 5px;
            position: relative;
            top: 1px;
        }

    .validation {
        font-size: 12px;
        position: absolute;
        left: 18px;
        font-weight: bold;
    }

    body.menuToggle #logoutModal1 .col-sm-4.searchbox div#datetimepicker2 {
        width: 100%;
    }

    .fulwdidthss {
        width: 100%;
        float: left;
        margin: auto;
    }

    #logoutModal1 .validation {
        font-size: 12px;
        position: absolute;
        left: 13px;
        font-weight: bold;
        bottom: -20px;
    }

    body.menuToggle #logoutModal1 .col-sm-4.searchbox div#datetimepicker2 input#startdate_id {
        border-radius: 5px;
    }
</style>



